.container {
    margin-top: 50px;
    display: flex; 
    flex-direction: column;
    position: relative; 
    width: 100%;
    height: fit-content;
}
  
.switch-container {
    display: flex; 
    align-items: flex-start; 
    justify-content: flex-start; 
    margin-left: 20px;
}
  
items-history-container {
    margin: 0 20px
}