<form *ngIf="item">
  <h3>Proposal for Item ID: {{ item.id }}</h3> 

  <mat-form-field>
    <mat-label>Comment</mat-label>
    <input matInput [(ngModel)]="comment" name="comment" required />
  </mat-form-field>

  <div *ngFor="let owner of item?.ownerIds">
    <mat-form-field>
      <mat-label>Payment Ratio for {{ owner }}</mat-label>
      <input matInput type="number" [(ngModel)]="paymentRatios[owner]" name="paymentRatio_{{ owner }}" placeholder="Payment Ratio" required />
    </mat-form-field>
  </div>

  <button mat-raised-button (click)="createProposal()">Submit Proposal</button>
</form>
  