<form *ngIf="item">
    <!-- item?.name -->
    <h3>Proposal for {{ item.name }}</h3> 
    <mat-form-field>
      <mat-label>Comment</mat-label>
      <input matInput [(ngModel)]="comment" name="comment" required />
    </mat-form-field>
    
    <div *ngFor="let owner of dataService.getOwners()">
      <mat-form-field>
        <mat-label>{{ owner.name }}</mat-label>
        <input matInput type="number" [(ngModel)]="ratios[owner.id]" placeholder="Payment Ratio" required />
      </mat-form-field>
    </div>
    
    <button mat-raised-button (click)="createProposal()">Submit Proposal</button>
</form>
  