
<h2 mat-dialog-title>{{ data.dialogTitle }}</h2> 
<h3 mat-dialog-title>{{ data.item.name }}</h3> 

<div mat-dialog-content class="custom-dialog-content">
  <mat-form-field class="full-width">
    <mat-label>Comment</mat-label>
    <textarea matInput [(ngModel)]="comment" name="comment" maxlength="90" required ></textarea>
  </mat-form-field>

  <div *ngFor="let owner of data.item?.ownerIds">
    <ng-container *ngIf="getOwnerNameById(owner) | async as ownerName">
      <mat-form-field class="full-width">
        <mat-label>Payment Ratio for {{ ownerName }}</mat-label>
        <input matInput type="number" [(ngModel)]="paymentRatios[owner]" name="paymentRatio_{{ ownerName }}" placeholder="%" required
          (ngModelChange)="calculateTotalPaymentRatio()" 
        />
      </mat-form-field>
    </ng-container>
  </div>

  <mat-error *ngIf="!isFormValid() && totalPaymentRatio !== 100" class="error-message">Total payment ratios must equal 100%.</mat-error>
  <mat-error *ngIf="hasInvalidPaymentRatio()">
    Payment ratio must be between 0 and 100.
  </mat-error>
</div>

<div mat-dialog-actions class="custom-dialog-actions"> 
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="createProposal()" [disabled]="!isFormValid()">
    Submit 
  </button>  
</div>

  

