<div class="history-container">
  <h4 *ngIf="!isItemSelected">You must select an item!</h4>
  <div class="controls" *ngIf="isItemSelected">
    <sort-proposals (sortChange)="setSortingCriterion($event)"></sort-proposals>
    <filter-proposals (filterChange)="setFilterStatus($event)"></filter-proposals>
  </div>
  <div class="proposal-list-container" *ngIf="(proposalsByItem$ | async) as proposals">
    <proposal-list 
      [proposals]="proposals" 
      [getAcceptedPartyMembers]="getAcceptedPartyMembers.bind(this)" 
      [getOwnerNameById]="getOwnerNameById.bind(this)">
    </proposal-list>  
  </div>
</div>