<mat-list>
  <h3 mat-subheader>Items</h3>
  <ng-container *ngIf="(items.length === 0) else itemList">
    <mat-list-item>
      <h4 *ngIf="!isUserSelected">You must select a user!</h4>      
    </mat-list-item>
  </ng-container>
  <ng-template #itemList>
    <mat-list-item 
      *ngFor="let item of items" 
      (click)="onSelectItem(item)"
      [ngClass]="{'selected': selectedItemId === item.id}"> 

      <div class="item-content"> 
        <h4 mat-line>
          <span>{{ item.name }}</span>
          <mat-icon *ngIf="(hasPendingProposals(item.id) | async)">hourglass_empty</mat-icon >
          <mat-icon *ngIf="item.isShared">group</mat-icon >
        </h4>
        <div class="buttons-container">
          <button mat-button *ngIf="item.isShared" (click)="openProposalDialog(item)" class="create-proposal-button">
            Create Proposal
          </button>  
        </div>
        <p mat-line>{{ item.description }}</p>
        <p mat-line>Total Cost: {{ item.totalCost }}</p>
      </div> 
    </mat-list-item>
  </ng-template>
</mat-list>
